<!-- HEADER -->
<div>
  <!-- LOGO -->
  <div></div>
  <!-- TEXT -->
  <div>
    <!-- TITLE -->
    <div>
      International Pure Bhakti Yoga Society Phils., Inc.
    </div>
    <div>
      37-A P. Florentino St., Brgy. Lourdes, Quezon City (Head Office)
    </div>
    <div>
      SEC Reg: CN201011996 &nbsp; TIN: 007-833-498 &nbsp; Tel. (632) 624 6774
    </div>
  </div>
</div>

<!-- DOC TITLE -->
<div>
  OFFICIAL RECEIPT
</div>

<!-- RECEIPT NUMBER -->
<div>
  No. 200
</div>

<!-- DATE -->
<div>
  Date:
</div>

<!-- BODY -->
<div>
  <!-- TABLE -->
  <div></div>
  <!-- TEXT -->
  <div>
    <div>
      <div>
        Received from
      </div>
      <!-- blank here -->
      <div></div>
    </div>
    <div>
      <div>
        the sum of Pesos
      </div>
      <!-- blank here -->
      <div></div>
    </div>
    <div>
      <!-- blank -->
      <div></div>
      <div>
        (PHP <span>__</span>)
      </div>
    </div>
    <!-- as donation -->
    <div>
      <div>as donation for:</div>
      <div>
        <div>
          <div>box</div>
          <div>Feeding programs</div>
        </div>
        <div>
          <div>box</div>
          <div>Book publication</div>
        </div>
        <div>
          <div>box</div>
          <div>Others ___________</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div>
    By:
  </div>
  <div>
    Authorized Signature
  </div>
</div>